<b></b>

    
<div class="googlefun">
    <div style="display:none;" class="jQueryStoragePid">{settings.storagePid}</div>
    <!-- Map Rendereing -->
    <div class="mapStage">
        <div id="map_canvas"></div>
    </div>
    <p></p>
    <p style="font-size: 80%">Die dargestellten Beispieldaten werden aus 15tsd Einzeldatensätzen live erzeugt.</p>
    
    <div id="results">
        <div class="resultpages"></div>
        <div class="result-footer">
            <div class="paginator-label">Seiten:</div> <div class="paginator"></div>
        </div>
    </div>
    
</div>